.register-form {
	label {
		font-weight: bold;
	}
}
.show-page {
	width: 100%;
	margin-top: 1rem;

	div {
		width: 100%;
		display: grid;
//		grid-template-columns: 1fr 1fr;
		grid-template-columns: 150px auto;
		grid-template-rows: 1fr;
		gap: 10px 10px;
		grid-auto-flow: row;
		margin-bottom: 0.2rem;
		div {
			padding: 0.1rem;
		}
		div:first-child {
			text-align: right;
			font-weight: bold;
		}
		div:last-child {
			table {
				width: 100%;
				tr {
					&:nth-child(odd) {
						background-color: rgba(59, 130, 246, 0.1);
					}
					border-bottom: 1px solid #ddd;
					padding: 0.5rem 0;
					th, td {
						font-size: 0.8rem;
						width: auto;
						min-width: 150px;
					}
				}
			}
			a {
				display: inline-block;
				white-space: nowrap;
				color: #c00;
			}
		}
	}
}
input[disabled], select[disabled], textara[disabled] {
	background-color: #eee;
}
.admin-table {
	width: 100%;
	margin: 0 1.0rem 0 1.0rem;
	//border-collapse: collapse;

	@include media('<tablet') {
		margin: 0;
	}
	tr {
		&:nth-child(odd) {
			background-color: rgba(59, 130, 246, 0.1);
		}
		border-bottom: 1px solid #ddd;
		padding: 0.5rem 0;
		td {
			text-align: left;
			padding: 0.3rem 0.5rem;
			@include media('<tablet') {
				padding: 0.2rem 0.2rem;
			}
			ul {
				display: block;
				font-size: 0.9rem;
				margin: 0.1rem 0.5rem;
				padding: 0.2rem 0.2rem;
				list-style-type: circle;
				list-style-position: inside;
				border: 1px solid rgba(59, 130, 246, 0.5);
				background-color: rgba(59, 130, 246, 0.1);
				border-radius: 0.3rem;
				li {
					margin-left: 0;
				}
			}
		}
		&.bottomBorder {
			border-bottom: 1px solid #bbb;
		}
		&.text-left {
			td {
				text-align: left;
				vertical-align: top;
			}
		}
	}
	&.dt-left {
		tr {
			td {
				text-align: left;
			}
		}
	}
	&.show-table {
		th,td {
			padding: 0.2rem 0.5rem;
		}
		th {
			text-align: right;
		}
		td {
			text-align: left;
		}
	}
}
form.frm-admin {
	.frm-group {
		div {
			div {
				margin-left: 1.0rem;
				label {
					width: 100%;
					.label {
						margin-right: 0.5rem;
						line-height: 2.5;
						white-space: nowrap;
					}
					i.help{
						line-height: 2.0;
					}
				}
			}
			div:first-child {
				margin-left: 0;
			}
			@include media('<tablet') {
				div {
					width: 100%;
					margin-left: 0;
				}
			}
		}
	}
}
.emoji-list {
	span {
		font-size: 1.5rem;
	}
}
i.switch {
	cursor: pointer;
}
