#calendar {
	width: 20rem;
	table {
		width: 20rem;
		table {
			tr {
				td {
					width: 2.0rem;
					height: 2.0rem;
					.fc-daygrid-day-frame {
						width: 2.0rem;
						height: 2.0rem;
					}
				}
			}
		}
	}
}
