#calendar {
	width: 40rem;
	table {
		width: 40rem;
		table {
			tr {
				td {
					width: 4.0rem;
					height: 4.0rem;
					.fc-daygrid-day-frame {
						width: 4.0rem;
						height: 4.0rem;
					}
				}
			}
		}
	}
}
