
.leaflet-tooltip-pane {
	.circle-marker-text {
		color: red;
		background: transparent;
		box-shadow: none;
		font-weight: bold;
		font-size:0.6rem;
		border: none;
		border-radius: 12px;

		&.selected {
			color: white;
			background: red;
		}
		ul {
			padding: 0.5rem;
			margin: 1.0rem;
			background: #fff;
			li {
				color: #666;
				font-size:0.8rem;
			}
		}
	}
}
.leaflet-drawLine {
	display: block;
	padding: 5px;

	background-color: #fff;
	border: 1px solid #888;
	color: #888;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
	cursor: pointer;
	text-align: center;

	i {
		display: block;
		margin: auto;
		margin-left: 5px;
		margin-right: -5px;
		font-weight: bold;
		font-size: 1.5em;
	}

	&.active {
		border: 1px solid #c00;
		i {
			color: #c00;
		}
	}
}
.frmMap {
	div {
		display: flex;
		padding: 2px 0 2px 0;
		label {
			min-width: 7rem;
		}
		input, select {
			min-width: 5rem;
			border: 1px solid #aaa;
		}
		input[type=checkbox] {
			min-width: auto;
		}
	}
}
