//@import 'bootstrap';
@import "bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~toastr/toastr';
@import "~include-media";
@import "~leaflet/dist/leaflet";
@import "~leaflet-draw/dist/leaflet.draw";
@import "~leaflet-sidebar/src/L.Control.Sidebar";
@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~leaflet.fullscreen/Control.FullScreen';
@import '~leaflet-ruler/src/leaflet-ruler';
@import 'variables';
@import 'global';
@import 'admin';

$grid-breakpoints: (
		xs: 0,
		sm: 480px,
		md: 768px,
		lg: 1024px
);

.inline-form {
	div {
		display: inline-block;
		clear: none;

		label {
			display: inline-block;
			clear: none;
		}

		input, select {
			width: 10.0rem;
			display: inline-block;
			clear: none;
		}
	}
}

nav[role="navigation"] {
	margin: 0 1.0rem;
}
.alert {
    &.alert-block {
        display: block;
        width: 100%;
        height: auto;
        padding: 1rem 1rem;
        font-weight: bold;
        text-align: center;

        &.alert-success {
            background-color: #0c0;
            span {
                color: #fff;
            }
        }
        &.alert-danger {
            background-color: #f00;
            span {
                color: #900;
            }
        }
        &.alert-warning {
            background-color: #f00;
            span {
                color: #080;
            }
        }
        &.alert-info {
            background-color: #f60;
            span {
                color: #fff;
            }
        }

        &.close {
            positiom: absolute;
            margin: 0.5rem 0.5rem 0 0;
            color: #000;
            font-weight: bold;
            font-size: 1.5rem;
            right: 0;
            top: 0;
        }
    }
}
/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
	@apply: right-0 border-green-400;
	right: 0;
	border-color: #68d391;
}

.toggle-checkbox:checked + .toggle-label {
	@apply: bg-green-400;
	background-color: #68d391;
}

.btn-primary {
	color: #fff;
	background-color: $bgSideNav;
	border-width: 0;
}

.btn-outline-primary {
	color: $bgSideNav;
	border-color: $bgSideNav;
}

i.switch {
	cursor: pointer;
}

.cursor-pointer {
	cursor: pointer !important;
}

.fullscreen {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100000;
	width: 100%;
	background-color: rgba(0,0,0,.5);
	background-repeat: no-repeat;
	background-size: contain;
	cursor: zoom-out;
}
