@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import "~include-media";
@import "~leaflet/dist/leaflet.css";

.tooltip{
    visibility: hidden;
    position: absolute;
}
.has-tooltip:hover .tooltip {
    visibility: visible;
    z-index: 100;
}
@tailwind utilities;

.btn-wrapper {
    &.bg-red {
        .btn {
            background-color: #c00;
        }
    }
    .btn {
        padding: 0.4rem 1.0rem;
        &.btn-reset {
            padding: 2.0rem 1.0rem !important;
            min-height: 4.0rem !important;
            color: red;
        }
        span {
            display: none;
            @include media('>tablet') {
                display: inline;
                margin-left: 0.5rem;
            }
        }
        &.no-hide-text {
            span {
                display: inline;
                margin-left: 0.5rem;
            }
        }
        &:hover {
            span {
                color: #fff;
            }
            i {
                color: #fff;
            }
            background-color: #c00;
        }
    }
}
i {
    &.fas {
        margin-right: 0.2rem;
        &.fa-shipping-fast {
            margin-right: 0.5rem;
        }
    }
    &.far {
        margin-right: 0.2rem;
    }
}
.map {
    display: block;
    float: left;
    clear: both;
    width: 100%;
    height: 100%;
    min-height: 100%;
//    height: 400px;
    min-width: 100%;
    bottom: 0;
//    min-height: 20rem;
    background-color: #eee;
    border: 1px solid #ccc;
}
