@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import "~include-media";

.tooltip{
    visibility: hidden;
    position: absolute;
}
.has-tooltip:hover .tooltip {
    visibility: visible;
    z-index: 100;
}
@tailwind utilities;

.btn-wrapper {
    &.bg-red {
        .btn {
            background-color: #c00;
        }
    }
    .btn {
        span {
            display: none;
            @include media('>tablet') {
                display: inline;
                margin-left: 0.5rem;
            }
        }
        &.no-hide-text {
            span {
                display: inline;
                margin-left: 0.5rem;
            }
        }
        &:hover {
            span {
                color: #fff;
            }
            i {
                color: #fff;
            }
            background-color: #c00;
        }
    }
}
