main {
	grid-area: main;
	font-size: 0.9rem;
	background-color: $bgMain;
	z-index: 1;

	.main-header {
		display: flex;
		justify-content: space-between;
		margin: 20px;
		padding: 20px;
		height: 150px;
		background-color: #e3e4e6;
		color: slategray;
	}

	@include media('<=tablet') {
		margin: 0 5px 0 5px;
		.main-cards {
			column-count: 2;
		}
	}
}
textarea {
	text-align: left;
}