@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

main {
    background-image: url(/img/nebel_steg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -0.8rem;
    background-position: 0 -100px;
}
.flex-container {
    margin-top: 1.0rem;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}
.flex-item {
    color: #000;
    width: auto;
    max-width: 30rem;
    min-width: 20rem;
    height: auto;
    min-height: 10rem;
    clear: left;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding: 1.0rem;
    margin: 1.0rem;
    background-color: #fff;
    color: #666;
    background-color: #eee;
    border-radius: 0.5rem;
    opacity: 0.7;
}
table { border-collapse: separate; }
td, th {
    padding: 0 0.4rem;
    text-align: center;
    margin: 0;
}
td { border: 1px solid #ddd; }
tr {
    margin: 0;
    padding: 0;
}

tr td:first-child { border-top-left-radius: 5px; }
tr td:first-child { border-bottom-left-radius: 5px; }
tr td:last-child { border-top-right-radius: 5px; }
tr td:last-child { border-bottom-right-radius: 5px; }

.btn {
    padding: 0.2rem 1.0rem;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #6b7280;
    border: none;
}
.btn-save {
    color: #fff;
    background-color: #2563eb;
}
.btn-red {
    color: #fff;
    background-color: #e53e3e;
}
.carnumber {
    margin: 0.3rem;
    padding: 0 0.3rem;
    color: #000;
    font-family: "Arial";
    _font-weight: bold;
    border: 0.1rem solid #000;
    border-radius: 0.2rem;
    opacity: 1;
    background-color: rgba(255,255,255, 1);
}
.autocomplete {

}
