.carnumber {
	display: inline-block;
	margin: 0;
	width: 105px;
	text-align: center;
	vertical-align: middle;
	color: #000;
	font-family: "Arial";
	border: 0.1rem solid #000;
	border-radius: 0.2rem;
	opacity: 1;
	background-color: rgba(255,255,255, 1);
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.dublicate {
	color: #fff;
	background-color: #e53e3e;
}
