.dashboard {
	.row {
		div {
			.card {
				margin-left: 0;
				min-height: 300px;
				min-width: 318px;
				box-shadow: 4px 4px 8px #394263;
				.card-body {
					min-width: 318px;
					&.loader-wrapper {
						width: 100%;
						width: inherit;
						height: 100%;
						text-align: center;
						vertical-align: middle;
						.v-spinner {
							margin: 100px auto;
						}
					}
				}

			}
		}
		@include media('<tablet') {
			div.col-10 {
				margin: 0.8rem auto 0 auto;
			}
		}
	}
}
.weather {
	div {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		gap: 10px 10px;
		grid-auto-flow: column;
		div {
			padding: 0.1rem;
		}
		div:last-child {
			white-space: nowrap;
		}
		&.bild,&.beschreibung {
			display: inline-block;
			float: left;
			div {
				display: inline-block;
			}
		}
		&.bild {
			width: 50px;
			height: 50px;
			padding: 0;
			margin: 0;
			div {
				width: 50px;
				height: 50px;
				padding: 0;
				margin: 0;
				img {
					width: 50px;
					height: 50px;
					margin: 0;
				}
			}
		}
		&.beschreibung {
			margin-left: 1.0rem;
			div {
				font-size: 1.0rem;
				line-height: 2.0;
				white-space: normal;
				font-weight: bold;
			}
		}
		&.temperatur {
			clear: both;
		}
	}
}
.calendar {
	min-height: 400px;
	@include media('>tablet') {
		.fc {
			.fc-header-toolbar {
				.fc-button {
					padding: 0.1em 0.2em;
					font-size: 0.7rem !important;
				}
				h2.fc-toolbar-title {
					font-size: 1.0rem  !important;
				}
			}
			table {
				font-size: 0.7rem !important;
			}
		}
	}
}
.chart {
	height: 100%;
	width: inherit;
	min-height: 250px;
	max-height: 250px;
}
